@mixin tiny-screens() {
  @media only screen and (max-width: 320px) {
    @content;
  }
}

@mixin small-screens() {
  @media only screen and (max-width: 480px) {
    @content;
  }
}
@mixin medium-screens() {
  @media only screen and (max-width: 680px) {
    @content;
  }
}
@mixin large-screens() {
  @media only screen and (max-width: 960px) {
    @content;
  }
}

@import "partials/variables", "partials/mixins";

@include google-font("Alegreya+Sans");
@include google-font("Titillium+Web");

@include fancy-links;

body {
  font-family: $text-font;
  color: $text-color;
  color: rgb(10,15,50);
  background-color: hsl(60, 50, 100);

  @include large-screens {
    font-size: 125%;
  }
}

h1, h2, h3, h4 {
  font-family: $headline-font;
}

h2 {
  @include large-text;
}

p {
  font-family: $text-font;
}

a {
  color: $link-color;

  &:hover {
    color: darken($link-color, 15%);
  }
}

.warning-button {
  @include warning;
  padding: 8px 12px;
}

@include apply-to-ie-6 {
  body {
    font-size: 125%;
  }
}

#header {
  @include box($border: 1px solid #999999, $radius: 12px);
  @include box-shadow(2px 0px 4px #999, 1px 1px 6px $secondary-color);
  height: $header-height;
  background-color: $theme-color;

  #main-menu {
    li {
      display: inline;
    }

    a {
      color: $menu-item-color;
      border-bottom: 1px solid transparentize($color: #fefefe, $amount: 1);
      padding: 6px 8px;
      transition: border-bottom 0.5s;
      transition-timing-function: ease-in-out;

      &:hover {
        border-bottom: 1px solid opacify(#fefefe, .5);
      }
    }
  }
  
  #logo {

  }
}

#main {
  width: $content-width;
  @include large-screens {
    width: auto;
    max-width: $content-width;
  }
  margin: auto;

  #content {
  }

  #sidebar {
  }
}

#footer {
  height: $footer-height;
  background-color: $ternary-color;
}
